<!-- website/templates/navbar.html -->
<nav class="bg-blue-300 text-Navy shadow-md">
    <div class="container mx-auto px-4 py-1 flex justify-between items-center">
        <a href="/"
            class="text-xl font-bold px-4 py-1 rounded transition-colors duration-200 hover:bg-blue-400 hover:text-white {% if request.path == '/' %} active-tab {% endif %}">
            Wellness - AI Assistant
        </a>
        <div class="space-x-4">
            <a href="/calmmind"
                class="px-4 py-2 rounded transition-colors duration-200 hover:bg-blue-400 hover:text-white font-bold {% if request.path == '/calmmind/' %} active-tab {% endif %}">
                Calm Mind
            </a>
            <a href="/history"
                class="px-4 py-2 rounded transition-colors duration-200 hover:bg-blue-400 hover:text-white font-bold {% if request.path == '/history' %} active-tab {% endif %}">
                Search History
            </a>
            <a href="/logout"
                class="bg-sky-500 hover:bg-sky-600 hover:text-white px-3 py-1 rounded transition-colors duration-200 font-bold">
                Logout
            </a>
        </div>
    </div>
</nav>